.csCompactSelectTextDisplay {
  white-space: nowrap; 
  overflow: hidden;
  margin-block-start: 0px;
  margin-block-end: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.csCompactSelectTextDisplayTitle {
  font-weight: var(--compactSelectTitleFontWeight, 100);
}

.csCompactSelectTextDisplaySelectedItem {
  font-weight: var(--compactSelectSelectedItemFontWeight, bold);
}

.csCompactSelectTextDisplayDisabled {
  color: var(--compactSelectDisabledFontColor, darkgray);
}