.csCompactWrapper {
  display: inline-block;
}

.csCompactSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 4px;
  font-weight: var(--compactSelectFontWeight);
  font-family: var(--compactSelectFontFamily);
  font-size: var(--compactSelectFontSize);
  font-style: var(--compactSelectFontStyle);
  color: var(--compactSelectFontColor, black);
  border-radius: 5px;
  border: var(--compactSelectBorder, 2px solid WhiteSmoke);
}

.compactSelectStandard {
  background-color: var(--compactSelectBackgroundColor);
  background-image: var(--compactSelectBackgroundImage);
}

.compactSelectDisabled {
  background-color: var(--compactSelectDisabledBackgroundColor, Gainsboro);
  background-image: var(--compactSelectDisabledBackgroundImage);
}

.csCompactDropDownIcon {
  width: 30px;
}

.csCompactDropDownIconDisabled {
  background-color: var(--compactSelectDisabledBackgroundColor, Gainsboro);
}

.csCompactClearSelection {
  width: 30px;
  font-size: var(--compactSelectClearSelectionIconSize, large);
}

.csCompactClearSelectionStandard {
  color: var(--compactSelectFontColor, black);
}

.csCompactClearSelectionDisabled {
  color: var(--compactSelectDisabledFontColor, darkgray);
}

.csCompactClearSelectionStandard:hover {
  color: var(--compactSelectFontColor, darkgray);
}

.csCompactMainDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.csCompactTextWrapper {
  flex: 1;
  flex-basis: 100%;
}

.csCompactTextDisplay {
  margin-block-start: 0px;
  margin-block-end: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.csCompactInput {
  background-color: transparent;
  border: none;
  max-width: var(--compactSelectInputTextMaxWidth,100%);
  color: var(--compactSelectFontColor, black);
  width: 100%;
}

.csCompactInputDisabled {
  color: var(--compactSelectDisabledFontColor, darkgray);
}

.csCompactInput:focus,
input:focus {
  outline: none;
}

.csCompactSelectTitle {
  position: absolute;
  top: -30px;
  font-size:  var(--compactSelectTitleFontSize, small);
}

.csCompactSelectTitleDisabled {
  color:  var(--compactSelectDisabledFontColor, darkgray);
}

.csCompactChoiceContainer {
  position: absolute;
  top: 40px;
  width: -webkit-fill-available;
  overflow: auto;
  border-radius: 5px;
  z-index: 1;
  border: var(--compactSelectBorder, 2px solid WhiteSmoke);
  max-height: var(--compactSelectChoiceListMaxHeight, 300px);
  background-color: var(--compactSelectBackgroundColor);
  background-image: var(--compactSelectBackgroundImage);
}


.csCompactChoiceList {
  padding-inline-start: 0px;
  margin-block-start: 2px;
  margin-block-end: 2px;
}
