.csWrapper {
  display: inline-block;
}

.csCompactSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 4px;
}

.csDropDownIcon {
  width: 30px;
  
}

.csClearSelection {
  width: 30px;
}

.csTextWrapper {
  flex: 1;
  flex-basis: 100%;
}

.csTextDisplay {
  margin-block-start: 0px;
  margin-block-end: 0px;
  -moz-user-select:none; 
  -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none; 
}

.csInput {
  background-color: transparent;
  border: none;
  width: 100%;
}

.csInput:focus,
input:focus {
  outline: none;
}

.csSelectTitle {
  position: absolute;
  top: -30px;
}

.csChoiceContainer {
  position: absolute;
  top: 40px;
  width: -webkit-fill-available;
  overflow: auto;
  border-radius: 5px;
  z-index: 1;
}

.csChoiceList {
  padding-inline-start: 0px;
  margin-block-start: 2px;
  margin-block-end: 2px;
}

